In [1]:
from openai import OpenAI
from api_keys import openai_key
client = OpenAI(api_key=openai_key)

def get_completion(prompt,model="gpt-3.5-turbo",response_format="json_object"):
  response = client.chat.completions.create(
    model=model,
    # response_format = {"type":response_format},
    messages=[
      {"role": "user", "content":prompt}
    ]
  )
  return response.choices[0].message.content, response

In [2]:
r = get_completion('Provide a prompt for gpt 3.5 turbo to read a text file which contains a table with columns separated by spaces in a line, and the multiple lines contain values for the same row. every new row starts with a non empty space in the starting of the line',model='gpt-4')
r[0]

('"Given a text file that contains a table where columns are separated by spaces and each line contains values for the same row. A new row begins with a non-empty space at the start of the line. Please read this text file, interpret the data, and organize it into a tabular format for further analysis."',
 ChatCompletion(id='chatcmpl-9HUgi5TOu2sRlAu2DMDn2W1xafH6V', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='"Given a text file that contains a table where columns are separated by spaces and each line contains values for the same row. A new row begins with a non-empty space at the start of the line. Please read this text file, interpret the data, and organize it into a tabular format for further analysis."', role='assistant', function_call=None, tool_calls=None))], created=1713956568, model='gpt-4-0613', object='chat.completion', system_fingerprint=None, usage=CompletionUsage(completion_tokens=63, prompt_tokens=62, total_tokens=125)))

In [5]:
from azure_ocr import read_ocr

fil = 'pdfs-samples/1. Khushhali Bank 1 _KMBL_PKR.pdf'
f = fil[13:-4]

text, pages = read_ocr(fil,f)

In [13]:
p = """
Given a text file of bank statement with transactions
in the form of a table where columns 
are separated by spaces and each line contains values 
for the same row. A new row begins with a non-empty 
space at the start of the line. Please read this text 
file, interpret the data, and organize it into a tabular 
format for further analysis. output the data in a csv 
format with the columns:
Date,Description,Withdrawal,Deposit,Balance
####
Input: 
"{text}
"
Output :

"""
r = get_completion(p.format(text=pages[1]))
with open('temp.csv','w') as ff:
    ff.write(r[0])
r[0]

'Date,Description,Withdrawal,Deposit,Balance\n15 AUG 23,WHT on Profit,3821.92,573457.27,\n15 AUG 23,WHT on Profit,5732.88,567724.39,\n5 AUG 23,WHT on Profit,5732.88,561991.51,\n5 AUG 23,WHT on Profit,955.48,561036.03,\n15 AUG 23,WHT on Profit,3821.92,557214.11,\n15 AUG 23,WHT on Profit,1910.96,555 303.15,\n31 AUG 23,Profit - Capitalise,,4891.47,560194.62,\n31 AUG 23,Debit Arrangement,733.72,559460.90,\n14 SEP 23,Credit Arrangement,,25479.45,584940.35,\n14 SEP 23,Credit Arrangement,,38219.18,623159.53,\nSEP 23,Credit Arrangement,,25479.45,648638.98,\n14 SEP 23,Credit Arrangement,,6369.86,655008.84,\n14 SEP 23,Credit Arrangement,,38219.18,693228.02,\n14 SEP 23,Credit Arrangement,,6369.86,699597.88,\n14 SEP 23,Credit Arrangement rement,,12739.73,712337.61,\n14 SEP 23,WHT on Profit,955.48,711382.13,\n14 SEP 23,WHT on Profit,3821.92,707560.21,\n14 SEP 23,WHT on Profit,1910.96,705649.25,\n14 SEP 23,WHT on Profit,3821.92,701827.33,\n14 SEP 23,WHT on Profit,5732.88,696094.45,\n14 SEP 23,WHT on Profit,5732.88,690361.57,\n14 SEP 23,WHT on Profit,955.48,689406.09,\n22 SEP 23,Inward Clr Normal,650000.00,39406.09,\n30 SEP 23,Profit - Capitalise,,3240.71,42646.80,\n30 SEP 23,Debit Arrangement,486.11,42160.69,\n14 OCT 23,Credit Arrangement,,24657.53,66818.22,\n14 OCT 23,Credit Arrangement,,12328.77,79146.99,\n14 OCT 23,Credit Arrangement,,6164.38,85311.37,'

In [8]:
import pandas as pd
df = pd.read_csv('temp.csv')
df

         Date          Description  Withdrawal   Deposit    Balance
0   14 JUL 23   Credit Arrangement         NaN   6164.38  303363.55
1   14 JUL 23   Credit Arrangement         NaN   6164.38  309527.93
2   14 JUL 23   Credit Arrangement         NaN  24657.53  334185.46
3   14 JUL 23   Credit Arrangement         NaN  36986.30  371171.76
4   14 JUL 23   Credit Arrangement         NaN  12328.77  383500.53
5   14 JUL 23   Credit Arrangement         NaN  24657.53  408158.06
6   14 JUL 23   Credit Arrangement         NaN  36986.30  445144.36
7   14 JUL 23        WHT on Profit     5547.95       NaN  439596.41
8   14 JUL 23        WHT on Profit     3698.63       NaN  435897.78
9   14 JUL 23        WHT on Profit     1849.32       NaN  434048.46
10  14 JUL 23        WHT on Profit     5547.95       NaN  428500.51
11  14 JUL 23        WHT on Profit     3698.63       NaN  424801.88
12  14 JUL 23        WHT on Profit      924.66       NaN  423877.22
13  14 JUL 23        WHT on Profit      924.66       NaN  422952.56
14  31 JUL 23  Profit - Capitalise         NaN   2829.88  425782.44
15  31 JUL 23    Debit Arrangement      424.48       NaN  425357.96
16  12 AUG 23   Credit Arrangement         NaN  25479.45  450837.41
17  12 AUG 23   Credit Arrangement         NaN   6369.86  457207.27
18  12 AUG 23   Credit Arrangement         NaN  38219.18  495426.45
19  12 AUG 23   Credit Arrangement         NaN  12739.73  508166.18
20  12 AUG 23   Credit Arrangement         NaN  25479.45  533645.63
21  12 AUG 23   Credit Arrangement         NaN  38219.18  571864.81
22  12 AUG 23   Credit Arrangement         NaN   6369.86  578234.67
23   5 AUG 23        WHT on Profit      955.48       NaN  577279.19

In [8]:
r = get_completion("""
my task is to extract transactions from a bank statement, i am using gpt-3.5-turbo
to extract the transactions. any reason why gpt is missing out transactions when i 
                   use the following prompt. give me reasons and suggest improvements.

                   "You have been tasked as an AI data analyst to meticulously process the information 
presented in a given bank credit statement text. Your role is to accurately interpret, 
extract, and present each transaction in this statement in CSV Format with the following 
column labels: "Transaction Date", "Description", "Debit/Withdrawal", "Credit/Deposit", "Balance". 

It's crucial you don't miss any transaction and represent each transaction exactly as they 
occur in the statement text without alterations, summarizations or omissions. Dates should be 
accurately represented in the "DD-MM-YYYY" format. Transaction descriptions can spread across 
several lines, but every description will harbor a numerical value in either the "Debit/Withdrawal" 
or the "Credit/Deposit" column. 

For "Debit/Withdrawal", this will be denoted as the third last numerical value and could also be identified 
with a "CR" description or a negative numerical value. "Credit/Deposit" will be represented as the 
second last numerical value and could be recognized with a "DR" description. The "Balance" figure 
will be the last numerical value contained in each transaction line and each value will differ 
per transaction. 

Be aware that each row can only shelter either a "Debit/Withdrawal" or "Credit/Deposit" value but not both 
at once. Whenever a transaction doesn't comprise either a "Debit/Withdrawal" or "Credit/Deposit", mark it as 0.0. 

The final output should be a comprehensive list of all transactions which occurred in the document, 
represented solely in JSON format with fields including: "user_bank", "opening_balance_date", "opening_balance", 
"closing_balance", "transactions". 
Note that the output should only contain numerical values and decimals where applicable, without the 
inclusion of special characters. Here is your text to extract transactions from:
{text}."
""")
r

'The prompt might have a few issues that could contribute to GPT-3.5-turbo missing transactions in the bank statement:\n\n1. Complexity: This prompt is quite detailed and long, potentially confusing the model. GPT-3.5-turbo might have trouble picking up the essential information to execute the task correctly.\n\n2. Specific Terminology: The use of specific terms like "third last numerical value" or "CR" description, or the way that Debit/Withdrawal and Credit/Deposit transactions are explained, might not align with the format presented in the text. This mismatch might result in the model missing transactions.\n\n3. Transaction Description: The prompt mentions that transaction descriptions can be spread across several lines. Depending on how text is formatted, this might cause the model to skip transactions.\n\nTo improve the prompt, I would suggest the following changes:\n\n1. Simplify the prompt: A simpler, more straightforward prompt might work better. \n\n2. Generic Terminology: Instead of specific terms, use more common terms for withdrawal and deposit transactions.\n\n3. Clear Formatting Instruction: Be clear about how transactions would be separated in the text. If it\'s by line, specify that every line represents a separate transaction.\n\nHere is how I would improve the prompt:\n\n"You are an AI data analyst. Your task is to extract transactions from the below bank statement text:\n\n{text}\n\nEach transaction has a "Transaction Date", "Description", "Debit/Withdrawal", "Credit/Deposit" and "Balance". Transactions are presented line by line. Extract and present these details in CSV format. The final output should be a comprehensive list of transactions in JSON format with these fields: "user_bank", "opening_balance_date", "opening_balance", "closing_balance", "transactions". Note that only numerical values and decimals should be included, without special characters."\n\nPlease note that the prompt doesn’t support CSV and JSON output at the same time. Use CSV if your focus is to output the transactions. Use JSON if you want to deliver more fields, not only the transactions but also fields such as "user_bank", "opening_balance_date", "opening_balance", "closing_balance". Amend the prompt accordingly depending on the desired data output.'

In [ ]:
get_completion("if I have to apply for daad what things do I need", response_format="text")

In [ ]:
def read_pdf(file_path):
  with pdfplumber.open(file_path) as pdf:
    text = ""
    pages = []
    for page in pdf.pages:
      p = page.extract_text()
      text += p
      pages.append(p)
  return text, pages

# Example usage
file_path = "Allied Bank.pdf"
text, pages = read_pdf(file_path)
print(text)

ABC (Private) Limited PK0010529Branch Name:HALL ROAD LAHORE
Statement Period:01 JUL 2021 TO 30 JUN 2022
Account Number:0000000000000000
Account Status:Regular
Pakistan Rupee
Current Accounts
BALANCE AT PERIOD START : 914,280.76
------------------------------------------------------------------------------------------------------------
DATE PARTICULARS VALUE DATE DEBITS CREDITS BALANCE
------------------------------------------------------------------------------------------------------------
05 JUL 21 Cash Withdrawal 05 JUL 21 26,610.00 887,670.76
51451190
05 JUL 21 Account Transfer 05 JUL 21 19,100.00 868,570.76
51451189
06 JUL 21 Online Cash Deposit CR. 06 JUL 21 25,000.00 893,570.76
PK0010539
06 JUL 21 Transfer 06 JUL 21 130,480.00 1,024,050.76
67279356
06 JUL 21 Cash Withdrawal 06 JUL 21 80,950.00 943,100.76
51451193
07 JUL 21 Online Transfer 07 JUL 21 36,000.00 907,100.76
51451194
07 JUL 21 Account Transfer 07 JUL 21 36,775.00 870,325.76
51451192
07 JUL 21 Online Transfer 07 JUL 21 19,251.00 851,074.76
51451191
09 JUL 21 Transfer 09 JUL 21 450,000.00 1,301,074.76
68671271
09 JUL 21 Account Transfer 09 JUL 21 15,000.00 1,286,074.76
51451195
12 JUL 21 Cash Withdrawal 12 JUL 21 16,698.00 1,269,376.76
51451196
12 JUL 21 Cash Withdrawal 12 JUL 21 105,850.00 1,163,526.76
51451198
12 JUL 21 Account Transfer 12 JUL 21 200,000.00 963,526.76
51451197
12 JUL 21 Outward Cheque Realized 12 JUL 21 100,000.00 1,063,526.76
07488538
13 JUL 21 Cash Deposit 13 JUL 21 780.00 1,064,306.76
13 JUL 21 Account Transfer 13 JUL 21 11,170.00 1,053,136.76
51451188
15 JUL 21 Cash Withdrawal 15 JUL 21 12,183.00 1,040,953.76
51451201
15 JUL 21 Account Transfer 15 JUL 21 186,400.00 854,553.76
51451199
15 JUL 21 Account Transfer 15 JUL 21 62,471.00 792,082.76
51451200
16 JUL 21 Cash Deposit 16 JUL 21 5,000.00 797,082.76
19 JUL 21 Online Cash Withdrawal 19 JUL 21 20,980.00 776,102.76
51451203 BR0222
51451203
19 JUL 21 Account Transfer 19 JUL 21 28,820.00 747,282.76
51451202
*REVE- Reversal Entry
This is a computer-generated statement, issued without any alteration, and does not require any signature.
Page 1 of 25------------------------------------------------------------------------------------------------------------
DATE PARTICULARS VALUE DATE DEBITS CREDITS BALANCE
------------------------------------------------------------------------------------------------------------
23 JUL 21 Cash Withdrawal 23 JUL 21 60,939.00 686,343.76
51451204
23 JUL 21 Transfer 23 JUL 21 2,300,000.00 2,986,343.76
50909524
26 JUL 21 Online Transfer 26 JUL 21 1,797,144.00 1,189,199.76
51451205
26 JUL 21 Account Transfer 26 JUL 21 28,733.00 1,160,466.76
51451206
27 JUL 21 Cash Withdrawal 27 JUL 21 140,922.00 1,019,544.76
51451209
28 JUL 21 Online Cash Deposit CR. 28 JUL 21 50,000.00 1,069,544.76
PK0010703
30 JUL 21 Transfer 30 JUL 21 33,935.00 1,103,479.76
68341625
30 JUL 21 Account Transfer 30 JUL 21 786,852.00 316,627.76
51451210
30 JUL 21 Account Transfer 30 JUL 21 10,700.00 305,927.76
51451208
02 AUG 21 Transfer 02 AUG 21 40,000.00 345,927.76
67849538
02 AUG 21 Transfer 02 AUG 21 900,000.00 1,245,927.76
69146313
02 AUG 21 Transfer 02 AUG 21 450,000.00 1,695,927.76
69146312
03 AUG 21 Online Cash Deposit CR. 03 AUG 21 25,000.00 1,720,927.76
PK0010539
04 AUG 21 Cash Withdrawal 04 AUG 21 28,035.00 1,692,892.76
51451213
04 AUG 21 Online Transfer 04 AUG 21 26,584.00 1,666,308.76
51451212
04 AUG 21 Account Transfer 04 AUG 21 150,000.00 1,516,308.76
51451216
04 AUG 21 Account Transfer 04 AUG 21 24,000.00 1,492,308.76
51451214
04 AUG 21 FED Deduction 04 AUG 21 192.00 1,492,116.76
04 AUG 21 Cheque Book Charges 04 AUG 21 1,200.00 1,490,916.76
05 AUG 21 Online Cash Deposit CR. 05 AUG 21 16,342.00 1,507,258.76
PK0010204
*REVE- Reversal Entry
This is a computer-generated statement, issued without any alteration, and does not require any signature.
Page 2 of 25------------------------------------------------------------------------------------------------------------
DATE PARTICULARS VALUE DATE DEBITS CREDITS BALANCE
------------------------------------------------------------------------------------------------------------
21 JUN 22 Online Transfer 21 JUN 22 2,102,070.00 2,018,608.76
63846963
22 JUN 22 Cash Withdrawal 22 JUN 22 132,756.00 1,885,852.76
63846968
23 JUN 22 Transfer 23 JUN 22 71,206.00 1,957,058.76
72344291
24 JUN 22 Account Transfer 24 JUN 22 72,241.00 1,884,817.76
63846967
24 JUN 22 Cash Withdrawal 24 JUN 22 13,400.00 1,871,417.76
63846972
24 JUN 22 Cash Withdrawal 24 JUN 22 19,365.00 1,852,052.76
63846970
27 JUN 22 Clearing 27 JUN 22 4,530.00 1,847,522.76
63846966
28 JUN 22 Account Transfer 28 JUN 22 1,246,987.00 600,535.76
63846971
28 JUN 22 Account Transfer 28 JUN 22 6,200.00 594,335.76
63846973
28 JUN 22 Clearing 28 JUN 22 22,280.00 572,055.76
63846961
28 JUN 22 Account Transfer 28 JUN 22 200,000.00 372,055.76
63846975
28 JUN 22 Cash Withdrawal 28 JUN 22 15,142.00 356,913.76
63846974
28 JUN 22 Cash Deposit 28 JUN 22 2,100.00 359,013.76
28 JUN 22 Cash Deposit 28 JUN 22 9,500.00 368,513.76
28 JUN 22 Cash Deposit 28 JUN 22 475,000.00 843,513.76
28 JUN 22 Cash Deposit 28 JUN 22 170,481.00 1,013,994.76
28 JUN 22 Cash Deposit 28 JUN 22 121,075.00 1,135,069.76
29 JUN 22 Account Transfer 29 JUN 22 200,000.00 935,069.76
63846976
29 JUN 22 Cash Withdrawal 29 JUN 22 14,700.00 920,369.76
63846977
29 JUN 22 Cash Withdrawal 29 JUN 22 21,416.00 898,953.76
63846980
29 JUN 22 Cash Withdrawal 29 JUN 22 312,600.00 586,353.76
63846978
29 JUN 22 Cash Deposit 29 JUN 22 27,075.00 613,428.76
30 JUN 22 Account Transfer 30 JUN 22 23,370.00 590,058.76
63846969
30 JUN 22 Cash Deposit 30 JUN 22 1,200.00 591,258.76
TOTAL DEBIT / CREDIT 55,861,881.00 55,538,859.00
CLOSING BALANCE 591,258.76
TOTAL WITHHOLDING TAX DEDUCTED 0.00
*REVE- Reversal Entry
This is a computer-generated statement, issued without any alteration, and does not require any signature.
Page 25 of 25

In [ ]:
prompt = """
You are a highly intelligent bot which specialises in data extraction,
data cleaning and data analysis of bank credit statements. Your task
is to extract transactions with their details from pdf statements from
bank account statements. The transactions have to be represented in CSV Format
 with the columns "Transaction Date", "Description",
"Debit/Withdrawal", "Credit/Deposit", "Balance".
The final response will be in the JSON format with the keys :
keys "user_bank", "opening_balance_date", "opening_balance",
"closing_balance", "transactions"

### Format ###
1. "Transaction Date" : to be output in the format "DD-MM-YYYY"

2. "Description": can contain multiple lines, every description contains
numerical value in one of the columns "Debit/Withdrawal", "Credit/Deposit".

3. "Debit/Withdrawal": will be the third last numerical version. can have
the keyword "CR" or can be a negative value.

4. "Credit/Deposit": will be the second last numerical value. can have
the keyword "DR".

5. "Balance": will be the last numerical value. there may be one value
for all the transactions for one day.

### Problem ###
If the Debit column and the credit column, do not have values in the same row
you will have to determine wether the value is Credit or Debit and add it in the
correct column.

### Solution ###
Use the formula:
If Balance of this row minus the balance of previous row is positive, the value is credit
else the value is debit

Return only a JSON response without anu note or prompt with the keys "user_bank", "opening_balance_date", "opening_balance",
"closing_balance", "transactions" for all the transactions in the following text.
Return values as Floating points with no special characters, only numericals values and decimal
point where possible.
###
{text}
###
"""

In [ ]:
allied_rsps = []
for pg in pages:
  response = get_completion(prompt.format(text=pg))
  allied_rsps.append(response)
[print(p + "\n") for p in allied_rsps]

{
"user_bank": "ABC (Private) Limited PK0010529",
"opening_balance_date": "01-07-2021",
"opening_balance": 914280.76,
"closing_balance": 747282.76,
"transactions": [
{
"Transaction Date": "05-07-2021",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 26610.00,
"Credit/Deposit": 0.00,
"Balance": 887670.76
},
{
"Transaction Date": "05-07-2021",
"Description": "Account Transfer",
"Debit/Withdrawal": 19100.00,
"Credit/Deposit": 0.00,
"Balance": 868570.76
},
{
"Transaction Date": "06-07-2021",
"Description": "Online Cash Deposit CR",
"Debit/Withdrawal": 0.00,
"Credit/Deposit": 25000.00,
"Balance": 893570.76
},
{
"Transaction Date": "06-07-2021",
"Description": "Transfer",
"Debit/Withdrawal": 0.00,
"Credit/Deposit": 130480.00,
"Balance": 1024050.76
},
{
"Transaction Date": "06-07-2021",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 80950.00,
"Credit/Deposit": 0.00,
"Balance": 943100.76
},
{
"Transaction Date": "07-07-2021",
"Description": "Online Transfer",
"Debit/Withdrawal": 36000.00,
"Credit/Deposit": 0.00,
"Balance": 907100.76
},
{
"Transaction Date": "07-07-2021",
"Description": "Account Transfer",
"Debit/Withdrawal": 36775.00,
"Credit/Deposit": 0.00,
"Balance": 870325.76
},
{
"Transaction Date": "07-07-2021",
"Description": "Online Transfer",
"Debit/Withdrawal": 19251.00,
"Credit/Deposit": 0.00,
"Balance": 851074.76
},
{
"Transaction Date": "09-07-2021",
"Description": "Transfer",
"Debit/Withdrawal": 0.00,
"Credit/Deposit": 450000.00,
"Balance": 1301074.76
},
{
"Transaction Date": "09-07-2021",
"Description": "Account Transfer",
"Debit/Withdrawal": 15000.00,
"Credit/Deposit": 0.00,
"Balance": 1286074.76
},
{
"Transaction Date": "12-07-2021",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 16698.00,
"Credit/Deposit": 0.00,
"Balance": 1269376.76
},
{
"Transaction Date": "12-07-2021",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 105850.00,
"Credit/Deposit": 0.00,
"Balance": 1163526.76
},
{
"Transaction Date": "12-07-2021",
"Description": "Account Transfer",
"Debit/Withdrawal": 200000.00,
"Credit/Deposit": 0.00,
"Balance": 963526.76
},
{
"Transaction Date": "12-07-2021",
"Description": "Outward Cheque Realized",
"Debit/Withdrawal": 0.00,
"Credit/Deposit": 100000.00,
"Balance": 1063526.76
},
{
"Transaction Date": "13-07-2021",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0.00,
"Credit/Deposit": 780.00,
"Balance": 1064306.76
},
{
"Transaction Date": "13-07-2021",
"Description": "Account Transfer",
"Debit/Withdrawal": 11170.00,
"Credit/Deposit": 0.00,
"Balance": 1053136.76
},
{
"Transaction Date": "15-07-2021",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 12183.00,
"Credit/Deposit": 0.00,
"Balance": 1040953.76
},
{
"Transaction Date": "15-07-2021",
"Description": "Account Transfer",
"Debit/Withdrawal": 186400.00,
"Credit/Deposit": 0.00,
"Balance": 854553.76
},
{
"Transaction Date": "15-07-2021",
"Description": "Account Transfer",
"Debit/Withdrawal": 62471.00,
"Credit/Deposit": 0.00,
"Balance": 792082.76
},
{
"Transaction Date": "16-07-2021",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0.00,
"Credit/Deposit": 5000.00,
"Balance": 797082.76
},
{
"Transaction Date": "19-07-2021",
"Description": "Online Cash Withdrawal",
"Debit/Withdrawal": 20980.00,
"Credit/Deposit": 0.00,
"Balance": 776102.76
},
{
"Transaction Date": "19-07-2021",
"Description": "Account Transfer",
"Debit/Withdrawal": 28820.00,
"Credit/Deposit": 0.00,
"Balance": 747282.76
}
]
}

{
"user_bank": "Unknown",
"opening_balance_date": "23-07-2021",
"opening_balance": 686343.76,
"closing_balance": 1507258.76,
"transactions": [
    {
    "Transaction Date": "23-07-2021",
    "Description": "Cash Withdrawal",
    "Debit/Withdrawal": 60939.00,
    "Credit/Deposit": null,
    "Balance": 686343.76
    },
    {
    "Transaction Date": "23-07-2021",
    "Description": "Transfer",
    "Debit/Withdrawal": null,
    "Credit/Deposit": 2300000.00,
    "Balance": 2986343.76
    },
    {
    "Transaction Date": "26-07-2021",
    "Description": "Online Transfer",
    "Debit/Withdrawal": 1797144.00,
    "Credit/Deposit": null,
    "Balance": 1189199.76
    },
    {
    "Transaction Date": "26-07-2021",
    "Description": "Account Transfer",
    "Debit/Withdrawal": 28733.00,
    "Credit/Deposit": null,
    "Balance": 1160466.76
    },
    {
    "Transaction Date": "27-07-2021",
    "Description": "Cash Withdrawal",
    "Debit/Withdrawal": 140922.00,
    "Credit/Deposit": null,
    "Balance": 1019544.76
    },
    {
    "Transaction Date": "28-07-2021",
    "Description": "Online Cash Deposit CR.",
    "Debit/Withdrawal": null,
    "Credit/Deposit": 50000.00,
    "Balance": 1069544.76
    },
    {
    "Transaction Date": "30-07-2021",
    "Description": "Transfer",
    "Debit/Withdrawal": 33935.00,
    "Credit/Deposit": null,
    "Balance": 1103479.76
    },
    {
    "Transaction Date": "30-07-2021",
    "Description": "Account Transfer",
    "Debit/Withdrawal": 786852.00,
    "Credit/Deposit": null,
    "Balance": 316627.76
    },
    {
    "Transaction Date": "30-07-2021",
    "Description": "Account Transfer",
    "Debit/Withdrawal": 10700.00,
    "Credit/Deposit": null,
    "Balance": 305927.76
    },
    {
    "Transaction Date": "02-08-2021",
    "Description": "Transfer",
    "Debit/Withdrawal": null,
    "Credit/Deposit": 40000.00,
    "Balance": 345927.76
    },
    {
    "Transaction Date": "02-08-2021",
    "Description": "Transfer",
    "Debit/Withdrawal": null,
    "Credit/Deposit": 900000.00,
    "Balance": 1245927.76
    },
    {
    "Transaction Date": "02-08-2021",
    "Description": "Transfer",
    "Debit/Withdrawal": null,
    "Credit/Deposit": 450000.00,
    "Balance": 1695927.76
    },
    {
    "Transaction Date": "03-08-2021",
    "Description": "Online Cash Deposit CR.",
    "Debit/Withdrawal": null,
    "Credit/Deposit": 25000.00,
    "Balance": 1720927.76
    },
    {
    "Transaction Date": "04-08-2021",
    "Description": "Cash Withdrawal",
    "Debit/Withdrawal": 28035.00,
    "Credit/Deposit": null,
    "Balance": 1692892.76
    },
    {
    "Transaction Date": "04-08-2021",
    "Description": "Online Transfer",
    "Debit/Withdrawal": 26584.00,
    "Credit/Deposit": null,
    "Balance": 1666308.76
    },
    {
    "Transaction Date": "04-08-2021",
    "Description": "Account Transfer",
    "Debit/Withdrawal": 150000.00,
    "Credit/Deposit": null,
    "Balance": 1516308.76
    },
    {
    "Transaction Date": "04-08-2021",
    "Description": "Account Transfer",
    "Debit/Withdrawal": 24000.00,
    "Credit/Deposit": null,
    "Balance": 1492308.76
    },
    {
    "Transaction Date": "04-08-2021",
    "Description": "FED Deduction",
    "Debit/Withdrawal": 192.00,
    "Credit/Deposit": null,
    "Balance": 1492116.76
    },
    {
    "Transaction Date": "04-08-2021",
    "Description": "Cheque Book Charges",
    "Debit/Withdrawal": 1200.00,
    "Credit/Deposit": null,
    "Balance": 1490916.76
    },
    {
    "Transaction Date": "05-08-2021",
    "Description": "Online Cash Deposit CR.",
    "Debit/Withdrawal": null,
    "Credit/Deposit": 16342.00,
    "Balance": 1507258.76
    }
]
}

{
"user_bank": "Unknown",
"opening_balance_date": "21-06-2022",
"opening_balance": 2018608.76,
"closing_balance": 591258.76,
"transactions": [
{
"Transaction Date": "21-06-2022",
"Description": "Online Transfer",
"Debit/Withdrawal": 2102070.0,
"Credit/Deposit": 0,
"Balance": 2018608.76
},
{
"Transaction Date": "22-06-2022",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 132756.0,
"Credit/Deposit": 0,
"Balance": 1885852.76
},
{
"Transaction Date": "23-06-2022",
"Description": "Transfer",
"Debit/Withdrawal": 71206.0,
"Credit/Deposit": 0,
"Balance": 1957058.76
},
{
"Transaction Date": "24-06-2022",
"Description": "Account Transfer",
"Debit/Withdrawal": 72241.0,
"Credit/Deposit": 0,
"Balance": 1884817.76
},
{
"Transaction Date": "24-06-2022",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 13400.0,
"Credit/Deposit": 0,
"Balance": 1871417.76
},
{
"Transaction Date": "24-06-2022",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 19365.0,
"Credit/Deposit": 0,
"Balance": 1852052.76
},
{
"Transaction Date": "27-06-2022",
"Description": "Clearing",
"Debit/Withdrawal": 4530.0,
"Credit/Deposit": 0,
"Balance": 1847522.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Account Transfer",
"Debit/Withdrawal": 1246987.0,
"Credit/Deposit": 0,
"Balance": 600535.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Account Transfer",
"Debit/Withdrawal": 6200.0,
"Credit/Deposit": 0,
"Balance": 594335.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Clearing",
"Debit/Withdrawal": 22280.0,
"Credit/Deposit": 0,
"Balance": 572055.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Account Transfer",
"Debit/Withdrawal": 200000.0,
"Credit/Deposit": 0,
"Balance": 372055.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 15142.0,
"Credit/Deposit": 0,
"Balance": 356913.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0,
"Credit/Deposit": 2100.0,
"Balance": 359013.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0,
"Credit/Deposit": 9500.0,
"Balance": 368513.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0,
"Credit/Deposit": 475000.0,
"Balance": 843513.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0,
"Credit/Deposit": 170481.0,
"Balance": 1013994.76
},
{
"Transaction Date": "28-06-2022",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0,
"Credit/Deposit": 121075.0,
"Balance": 1135069.76
},
{
"Transaction Date": "29-06-2022",
"Description": "Account Transfer",
"Debit/Withdrawal": 200000.0,
"Credit/Deposit": 0,
"Balance": 935069.76
},
{
"Transaction Date": "29-06-2022",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 14700.0,
"Credit/Deposit": 0,
"Balance": 920369.76
},
{
"Transaction Date": "29-06-2022",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 21416.0,
"Credit/Deposit": 0,
"Balance": 898953.76
},
{
"Transaction Date": "29-06-2022",
"Description": "Cash Withdrawal",
"Debit/Withdrawal": 312600.0,
"Credit/Deposit": 0,
"Balance": 586353.76
},
{
"Transaction Date": "29-06-2022",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0,
"Credit/Deposit": 27075.0,
"Balance": 613428.76
},
{
"Transaction Date": "30-06-2022",
"Description": "Account Transfer",
"Debit/Withdrawal": 23370.0,
"Credit/Deposit": 0,
"Balance": 590058.76
},
{
"Transaction Date": "30-06-2022",
"Description": "Cash Deposit",
"Debit/Withdrawal": 0,
"Credit/Deposit": 1200.0,
"Balance": 591258.76
}
]
}

[None, None, None]

In [ ]:
[print(json.loads(p)) for p in allied_rsps]

{'user_bank': 'ABC (Private) Limited PK0010529', 'opening_balance_date': '01-07-2021', 'opening_balance': 914280.76, 'closing_balance': 747282.76, 'transactions': [{'Transaction Date': '05-07-2021', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 26610.0, 'Credit/Deposit': 0.0, 'Balance': 887670.76}, {'Transaction Date': '05-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 19100.0, 'Credit/Deposit': 0.0, 'Balance': 868570.76}, {'Transaction Date': '06-07-2021', 'Description': 'Online Cash Deposit CR', 'Debit/Withdrawal': 0.0, 'Credit/Deposit': 25000.0, 'Balance': 893570.76}, {'Transaction Date': '06-07-2021', 'Description': 'Transfer', 'Debit/Withdrawal': 0.0, 'Credit/Deposit': 130480.0, 'Balance': 1024050.76}, {'Transaction Date': '06-07-2021', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 80950.0, 'Credit/Deposit': 0.0, 'Balance': 943100.76}, {'Transaction Date': '07-07-2021', 'Description': 'Online Transfer', 'Debit/Withdrawal': 36000.0, 'Credit/Deposit': 0.0, 'Balance': 907100.76}, {'Transaction Date': '07-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 36775.0, 'Credit/Deposit': 0.0, 'Balance': 870325.76}, {'Transaction Date': '07-07-2021', 'Description': 'Online Transfer', 'Debit/Withdrawal': 19251.0, 'Credit/Deposit': 0.0, 'Balance': 851074.76}, {'Transaction Date': '09-07-2021', 'Description': 'Transfer', 'Debit/Withdrawal': 0.0, 'Credit/Deposit': 450000.0, 'Balance': 1301074.76}, {'Transaction Date': '09-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 15000.0, 'Credit/Deposit': 0.0, 'Balance': 1286074.76}, {'Transaction Date': '12-07-2021', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 16698.0, 'Credit/Deposit': 0.0, 'Balance': 1269376.76}, {'Transaction Date': '12-07-2021', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 105850.0, 'Credit/Deposit': 0.0, 'Balance': 1163526.76}, {'Transaction Date': '12-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 200000.0, 'Credit/Deposit': 0.0, 'Balance': 963526.76}, {'Transaction Date': '12-07-2021', 'Description': 'Outward Cheque Realized', 'Debit/Withdrawal': 0.0, 'Credit/Deposit': 100000.0, 'Balance': 1063526.76}, {'Transaction Date': '13-07-2021', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0.0, 'Credit/Deposit': 780.0, 'Balance': 1064306.76}, {'Transaction Date': '13-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 11170.0, 'Credit/Deposit': 0.0, 'Balance': 1053136.76}, {'Transaction Date': '15-07-2021', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 12183.0, 'Credit/Deposit': 0.0, 'Balance': 1040953.76}, {'Transaction Date': '15-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 186400.0, 'Credit/Deposit': 0.0, 'Balance': 854553.76}, {'Transaction Date': '15-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 62471.0, 'Credit/Deposit': 0.0, 'Balance': 792082.76}, {'Transaction Date': '16-07-2021', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0.0, 'Credit/Deposit': 5000.0, 'Balance': 797082.76}, {'Transaction Date': '19-07-2021', 'Description': 'Online Cash Withdrawal', 'Debit/Withdrawal': 20980.0, 'Credit/Deposit': 0.0, 'Balance': 776102.76}, {'Transaction Date': '19-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 28820.0, 'Credit/Deposit': 0.0, 'Balance': 747282.76}]}
{'user_bank': 'Unknown', 'opening_balance_date': '23-07-2021', 'opening_balance': 686343.76, 'closing_balance': 1507258.76, 'transactions': [{'Transaction Date': '23-07-2021', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 60939.0, 'Credit/Deposit': None, 'Balance': 686343.76}, {'Transaction Date': '23-07-2021', 'Description': 'Transfer', 'Debit/Withdrawal': None, 'Credit/Deposit': 2300000.0, 'Balance': 2986343.76}, {'Transaction Date': '26-07-2021', 'Description': 'Online Transfer', 'Debit/Withdrawal': 1797144.0, 'Credit/Deposit': None, 'Balance': 1189199.76}, {'Transaction Date': '26-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 28733.0, 'Credit/Deposit': None, 'Balance': 1160466.76}, {'Transaction Date': '27-07-2021', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 140922.0, 'Credit/Deposit': None, 'Balance': 1019544.76}, {'Transaction Date': '28-07-2021', 'Description': 'Online Cash Deposit CR.', 'Debit/Withdrawal': None, 'Credit/Deposit': 50000.0, 'Balance': 1069544.76}, {'Transaction Date': '30-07-2021', 'Description': 'Transfer', 'Debit/Withdrawal': 33935.0, 'Credit/Deposit': None, 'Balance': 1103479.76}, {'Transaction Date': '30-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 786852.0, 'Credit/Deposit': None, 'Balance': 316627.76}, {'Transaction Date': '30-07-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 10700.0, 'Credit/Deposit': None, 'Balance': 305927.76}, {'Transaction Date': '02-08-2021', 'Description': 'Transfer', 'Debit/Withdrawal': None, 'Credit/Deposit': 40000.0, 'Balance': 345927.76}, {'Transaction Date': '02-08-2021', 'Description': 'Transfer', 'Debit/Withdrawal': None, 'Credit/Deposit': 900000.0, 'Balance': 1245927.76}, {'Transaction Date': '02-08-2021', 'Description': 'Transfer', 'Debit/Withdrawal': None, 'Credit/Deposit': 450000.0, 'Balance': 1695927.76}, {'Transaction Date': '03-08-2021', 'Description': 'Online Cash Deposit CR.', 'Debit/Withdrawal': None, 'Credit/Deposit': 25000.0, 'Balance': 1720927.76}, {'Transaction Date': '04-08-2021', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 28035.0, 'Credit/Deposit': None, 'Balance': 1692892.76}, {'Transaction Date': '04-08-2021', 'Description': 'Online Transfer', 'Debit/Withdrawal': 26584.0, 'Credit/Deposit': None, 'Balance': 1666308.76}, {'Transaction Date': '04-08-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 150000.0, 'Credit/Deposit': None, 'Balance': 1516308.76}, {'Transaction Date': '04-08-2021', 'Description': 'Account Transfer', 'Debit/Withdrawal': 24000.0, 'Credit/Deposit': None, 'Balance': 1492308.76}, {'Transaction Date': '04-08-2021', 'Description': 'FED Deduction', 'Debit/Withdrawal': 192.0, 'Credit/Deposit': None, 'Balance': 1492116.76}, {'Transaction Date': '04-08-2021', 'Description': 'Cheque Book Charges', 'Debit/Withdrawal': 1200.0, 'Credit/Deposit': None, 'Balance': 1490916.76}, {'Transaction Date': '05-08-2021', 'Description': 'Online Cash Deposit CR.', 'Debit/Withdrawal': None, 'Credit/Deposit': 16342.0, 'Balance': 1507258.76}]}
{'user_bank': 'Unknown', 'opening_balance_date': '21-06-2022', 'opening_balance': 2018608.76, 'closing_balance': 591258.76, 'transactions': [{'Transaction Date': '21-06-2022', 'Description': 'Online Transfer', 'Debit/Withdrawal': 2102070.0, 'Credit/Deposit': 0, 'Balance': 2018608.76}, {'Transaction Date': '22-06-2022', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 132756.0, 'Credit/Deposit': 0, 'Balance': 1885852.76}, {'Transaction Date': '23-06-2022', 'Description': 'Transfer', 'Debit/Withdrawal': 71206.0, 'Credit/Deposit': 0, 'Balance': 1957058.76}, {'Transaction Date': '24-06-2022', 'Description': 'Account Transfer', 'Debit/Withdrawal': 72241.0, 'Credit/Deposit': 0, 'Balance': 1884817.76}, {'Transaction Date': '24-06-2022', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 13400.0, 'Credit/Deposit': 0, 'Balance': 1871417.76}, {'Transaction Date': '24-06-2022', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 19365.0, 'Credit/Deposit': 0, 'Balance': 1852052.76}, {'Transaction Date': '27-06-2022', 'Description': 'Clearing', 'Debit/Withdrawal': 4530.0, 'Credit/Deposit': 0, 'Balance': 1847522.76}, {'Transaction Date': '28-06-2022', 'Description': 'Account Transfer', 'Debit/Withdrawal': 1246987.0, 'Credit/Deposit': 0, 'Balance': 600535.76}, {'Transaction Date': '28-06-2022', 'Description': 'Account Transfer', 'Debit/Withdrawal': 6200.0, 'Credit/Deposit': 0, 'Balance': 594335.76}, {'Transaction Date': '28-06-2022', 'Description': 'Clearing', 'Debit/Withdrawal': 22280.0, 'Credit/Deposit': 0, 'Balance': 572055.76}, {'Transaction Date': '28-06-2022', 'Description': 'Account Transfer', 'Debit/Withdrawal': 200000.0, 'Credit/Deposit': 0, 'Balance': 372055.76}, {'Transaction Date': '28-06-2022', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 15142.0, 'Credit/Deposit': 0, 'Balance': 356913.76}, {'Transaction Date': '28-06-2022', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0, 'Credit/Deposit': 2100.0, 'Balance': 359013.76}, {'Transaction Date': '28-06-2022', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0, 'Credit/Deposit': 9500.0, 'Balance': 368513.76}, {'Transaction Date': '28-06-2022', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0, 'Credit/Deposit': 475000.0, 'Balance': 843513.76}, {'Transaction Date': '28-06-2022', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0, 'Credit/Deposit': 170481.0, 'Balance': 1013994.76}, {'Transaction Date': '28-06-2022', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0, 'Credit/Deposit': 121075.0, 'Balance': 1135069.76}, {'Transaction Date': '29-06-2022', 'Description': 'Account Transfer', 'Debit/Withdrawal': 200000.0, 'Credit/Deposit': 0, 'Balance': 935069.76}, {'Transaction Date': '29-06-2022', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 14700.0, 'Credit/Deposit': 0, 'Balance': 920369.76}, {'Transaction Date': '29-06-2022', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 21416.0, 'Credit/Deposit': 0, 'Balance': 898953.76}, {'Transaction Date': '29-06-2022', 'Description': 'Cash Withdrawal', 'Debit/Withdrawal': 312600.0, 'Credit/Deposit': 0, 'Balance': 586353.76}, {'Transaction Date': '29-06-2022', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0, 'Credit/Deposit': 27075.0, 'Balance': 613428.76}, {'Transaction Date': '30-06-2022', 'Description': 'Account Transfer', 'Debit/Withdrawal': 23370.0, 'Credit/Deposit': 0, 'Balance': 590058.76}, {'Transaction Date': '30-06-2022', 'Description': 'Cash Deposit', 'Debit/Withdrawal': 0, 'Credit/Deposit': 1200.0, 'Balance': 591258.76}]}

[None, None, None]

In [ ]:
len(allied_rsps)

3

In [ ]:
def validate(pages):
  prev_balance = float(pages[0]['opening_balance'])
  dfs = []
  for page in pages:
    if "transactions" in page:
      df = pd.DataFrame(page['transactions'])
      df.fillna(0.0, inplace=True)
      for i, row in df.iterrows():
        db, cr, b = row[2:5]
        if float(b) != round(prev_balance + float(cr) - float(db),2):
          if float(b) != round(prev_balance - float(cr) + float(db),2)  :

            print(f"index {i} | {float(b)} != {prev_balance} + {float(cr)} -{ float(db)} = { round(prev_balance + float(cr) - float(db),2)}")
            print(f"{float(b)} != {prev_balance} - {float(cr)} +{ float(db)} = { round(prev_balance - float(cr) + float(db),2)}")
            print(f"{row}\n\n")
            # raise BaseException(f"Inconsistency error: Missing Transactions between previous row: {df.iloc[i-1]} \nANd\n {row}")
            print(f"Inconsistency error: Missing Transactions between previous row: \n{df.iloc[i-1]} \nANd\n {row}\n\n\n")
          else:
            df.iloc[i,3], df.iloc[i,2] = df.iloc[i,2].copy(), df.iloc[i,3].copy()
        prev_balance = float(b)
      dfs.append(df)
  concatenated_df = pd.concat(dfs)
  concatenated_df.reset_index(drop=True, inplace=True)
  return concatenated_df

In [ ]:
res = validate([json.loads(p) for p in allied_rsps])
res.to_csv("allied_csv.csv")

index 0 | 2018608.76 != 1507258.76 + 0.0 -2102070.0 = -594811.24
2018608.76 != 1507258.76 - 0.0 +2102070.0 = 3609328.76
Transaction Date         21-06-2022
Description         Online Transfer
Debit/Withdrawal          2102070.0
Credit/Deposit                  0.0
Balance                  2018608.76
Name: 0, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date      30-06-2022
Description         Cash Deposit
Debit/Withdrawal             0.0
Credit/Deposit            1200.0
Balance                591258.76
Name: 23, dtype: object
ANd
 Transaction Date         21-06-2022
Description         Online Transfer
Debit/Withdrawal          2102070.0
Credit/Deposit                  0.0
Balance                  2018608.76
Name: 0, dtype: object

In [ ]:
files = glob.glob("./pdfs/*.pdf")
for fil in files:
  f = fil.split('/')[-1][:-4]
  print(f"############ {f} ###########")
  try:
    text, pages = read_pdf(fil)
    with open(f'txts/{f}.txt',"w")as x:
      x.write(text)
    rsps = [json.loads(get_completion(prompt.format(text=pg))) for pg in pages]
    with open(f'jsons/{f}.json',"w")as x:
      json.dump(rsps, x, indent=4)
    res = validate(rsps)
    res.to_csv(f'csvs/{f}.json')
  except Exception as e:
    print(f"Error in {f} | {e}")

############ Meezan Bank (Premium Banking) ###########
index 0 | 99309.64 != 91623.91 + 7540.27 -0.0 = 99164.18
99309.64 != 91623.91 - 7540.27 +0.0 = 84083.64
Transaction Date                        04-07-2022
Description         Profit Payable On TDR- Credits
Debit/Withdrawal                               0.0
Credit/Deposit                             7540.27
Balance                                   99309.64
Name: 0, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date               03-09-2022
Description         Withholding Tax Debit
Debit/Withdrawal                  1144.92
Credit/Deposit                        0.0
Balance                         257321.32
Name: 15, dtype: object
ANd
 Transaction Date                        04-07-2022
Description         Profit Payable On TDR- Credits
Debit/Withdrawal                               0.0
Credit/Deposit                             7540.27
Balance                                   99309.64
Name: 0, dtype: object



index 2 | 181164.9 != 98178.6 + 84986.3 -0.0 = 183164.9
181164.9 != 98178.6 - 84986.3 +0.0 = 13192.3
Transaction Date                        04-07-2022
Description         Profit Payable On TDR- Credits
Debit/Withdrawal                               0.0
Credit/Deposit                             84986.3
Balance                                   181164.9
Name: 2, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date               04-07-2022
Description         Withholding Tax Debit
Debit/Withdrawal                  1131.04
Credit/Deposit                        0.0
Balance                           98178.6
Name: 1, dtype: object
ANd
 Transaction Date                        04-07-2022
Description         Profit Payable On TDR- Credits
Debit/Withdrawal                               0.0
Credit/Deposit                             84986.3
Balance                                   181164.9
Name: 2, dtype: object



Error in Meezan Bank (Premium Banking) | could not convert string to float: ''
############ United Bank Limited ###########
############ Al Baraka Bank ###########
index 0 | 4749088.45 != 4730910.09 + 21386.31 -0.0 = 4752296.4
4749088.45 != 4730910.09 - 21386.31 +0.0 = 4709523.78
Transaction Date                05-07-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    21386.31
Balance                         4749088.45
Name: 0, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                04-05-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    27446.24
Balance                         4974546.27
Name: 12, dtype: object
ANd
 Transaction Date                05-07-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    21386.31
Balance                         4749088.45
Name: 0, dtype: object



index 1 | 4769659.16 != 4749088.45 + 24200.83 -0.0 = 4773289.28
4769659.16 != 4749088.45 - 24200.83 +0.0 = 4724887.62
Transaction Date                04-08-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    24200.83
Balance                         4769659.16
Name: 1, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                05-07-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    21386.31
Balance                         4749088.45
Name: 0, dtype: object
ANd
 Transaction Date                04-08-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    24200.83
Balance                         4769659.16
Name: 1, dtype: object



index 2 | 4792040.62 != 4769659.16 + 26331.13 -0.0 = 4795990.29
4792040.62 != 4769659.16 - 26331.13 +0.0 = 4743328.03
Transaction Date                05-09-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26331.13
Balance                         4792040.62
Name: 2, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                04-08-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    24200.83
Balance                         4769659.16
Name: 1, dtype: object
ANd
 Transaction Date                05-09-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26331.13
Balance                         4792040.62
Name: 2, dtype: object



index 3 | 4814638.7 != 4792040.62 + 26585.98 -0.0 = 4818626.6
4814638.7 != 4792040.62 - 26585.98 +0.0 = 4765454.64
Transaction Date                05-10-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26585.98
Balance                          4814638.7
Name: 3, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                05-09-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26331.13
Balance                         4792040.62
Name: 2, dtype: object
ANd
 Transaction Date                05-10-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26585.98
Balance                          4814638.7
Name: 3, dtype: object



index 4 | 4838100.17 != 4814638.7 + 27601.73 -0.0 = 4842240.43
4838100.17 != 4814638.7 - 27601.73 +0.0 = 4787036.97
Transaction Date                04-11-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    27601.73
Balance                         4838100.17
Name: 4, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                05-10-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26585.98
Balance                          4814638.7
Name: 3, dtype: object
ANd
 Transaction Date                04-11-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    27601.73
Balance                         4838100.17
Name: 4, dtype: object



index 5 | 4860915.45 != 4838100.17 + 26841.51 -0.0 = 4864941.68
4860915.45 != 4838100.17 - 26841.51 +0.0 = 4811258.66
Transaction Date                02-12-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26841.51
Balance                         4860915.45
Name: 5, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                04-11-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    27601.73
Balance                         4838100.17
Name: 4, dtype: object
ANd
 Transaction Date                02-12-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26841.51
Balance                         4860915.45
Name: 5, dtype: object



index 6 | 4884602.43 != 4860915.45 + 27867.03 -0.0 = 4888782.48
4884602.43 != 4860915.45 - 27867.03 +0.0 = 4833048.42
Transaction Date                05-01-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    27867.03
Balance                         4884602.43
Name: 6, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                02-12-2022
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    26841.51
Balance                         4860915.45
Name: 5, dtype: object
ANd
 Transaction Date                05-01-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    27867.03
Balance                         4884602.43
Name: 6, dtype: object



index 7 | 4908404.83 != 4884602.43 + 28002.82 -0.0 = 4912605.25
4908404.83 != 4884602.43 - 28002.82 +0.0 = 4856599.61
Transaction Date                03-02-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    28002.82
Balance                         4908404.83
Name: 7, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                05-01-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    27867.03
Balance                         4884602.43
Name: 6, dtype: object
ANd
 Transaction Date                03-02-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    28002.82
Balance                         4908404.83
Name: 7, dtype: object



index 8 | 4930008.53 != 4908404.83 + 25416.12 -0.0 = 4933820.95
4930008.53 != 4908404.83 - 25416.12 +0.0 = 4882988.71
Transaction Date                04-03-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    25416.12
Balance                         4930008.53
Name: 8, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                03-02-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    28002.82
Balance                         4908404.83
Name: 7, dtype: object
ANd
 Transaction Date                04-03-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    25416.12
Balance                         4930008.53
Name: 8, dtype: object



index 11 | 4947100.03 != 4930008.53 + 20107.65 -0.0 = 4950116.18
4947100.03 != 4930008.53 - 20107.65 +0.0 = 4909900.88
Transaction Date                04-04-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    20107.65
Balance                         4947100.03
Name: 11, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date             27-03-2023
Description         PO #3141015842 PAID
Debit/Withdrawal                    0.0
Credit/Deposit                4900000.0
Balance                      4930008.53
Name: 10, dtype: object
ANd
 Transaction Date                04-04-2023
Description         PROTIT PAID TO ACCOUNT
Debit/Withdrawal                       0.0
Credit/Deposit                    20107.65
Balance                         4947100.03
Name: 11, dtype: object



index 1 | 4998649.96 != 4970429.33 + 28494.86 -0.0 = 4998924.19
4998649.96 != 4970429.33 - 28494.86 +0.0 = 4941934.47
Transaction Date                                05-06-2023
Description         PROFIT PAID TO ACCOUNT # 0110100633015
Debit/Withdrawal                                       0.0
Credit/Deposit                                    28494.86
Balance                                         4998649.96
Name: 1, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                                         04-05-2023
Description         15.00% TAX DEDUCTION ON ACCOUNT # 0110100633015
Debit/Withdrawal                                            4116.94
Credit/Deposit                                                  0.0
Balance                                                  4970429.33
Name: 0, dtype: object
ANd
 Transaction Date                                05-06-2023
Description         PROFIT PAID TO ACCOUNT # 0110100633015
Debit/Withdrawal                                       0.0
Credit/Deposit                                    28494.86
Balance                                         4998649.96
Name: 1, dtype: object



index 2 | 4994649.96 != 4998649.96 + 0.0 -4274.23 = 4994375.73
4994649.96 != 4998649.96 - 0.0 +4274.23 = 5002924.19
Transaction Date                                         05-06-2023
Description         15.00% TAX DEDUCTION ON ACCOUNT # 0110100633015
Debit/Withdrawal                                            4274.23
Credit/Deposit                                                  0.0
Balance                                                  4994649.96
Name: 2, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                                05-06-2023
Description         PROFIT PAID TO ACCOUNT # 0110100633015
Debit/Withdrawal                                       0.0
Credit/Deposit                                    28494.86
Balance                                         4998649.96
Name: 1, dtype: object
ANd
 Transaction Date                                         05-06-2023
Description         15.00% TAX DEDUCTION ON ACCOUNT # 0110100633015
Debit/Withdrawal                                            4274.23
Credit/Deposit                                                  0.0
Balance                                                  4994649.96
Name: 2, dtype: object



############ Askari Bank ###########
index 0 | 401.31 != 376.06 + 29.7 -0.0 = 405.76
401.31 != 376.06 - 29.7 +0.0 = 346.36
Transaction Date     16-07-2022
Description         PROFIT PAID
Debit/Withdrawal            0.0
Credit/Deposit             29.7
Balance                  401.31
Name: 0, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date        25-01-2023
Description         SMS Alerts Fee
Debit/Withdrawal              1.73
Credit/Deposit                 0.0
Balance                        0.0
Name: 10, dtype: object
ANd
 Transaction Date     16-07-2022
Description         PROFIT PAID
Debit/Withdrawal            0.0
Credit/Deposit             29.7
Balance                  401.31
Name: 0, dtype: object



index 1 | 401.31 != 401.31 + 0.0 -4.45 = 396.86
401.31 != 401.31 - 0.0 +4.45 = 405.76
Transaction Date             16-07-2022
Description         W. H. TAX ON PROFIT
Debit/Withdrawal                   4.45
Credit/Deposit                      0.0
Balance                          401.31
Name: 1, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date     16-07-2022
Description         PROFIT PAID
Debit/Withdrawal            0.0
Credit/Deposit             29.7
Balance                  401.31
Name: 0, dtype: object
ANd
 Transaction Date             16-07-2022
Description         W. H. TAX ON PROFIT
Debit/Withdrawal                   4.45
Credit/Deposit                      0.0
Balance                          401.31
Name: 1, dtype: object



index 7 | 9.81 != 0.0 + 11.54 -0.0 = 11.54
9.81 != 0.0 - 11.54 +0.0 = -11.54
Transaction Date     14-01-2023
Description         PROFIT PAID
Debit/Withdrawal            0.0
Credit/Deposit            11.54
Balance                    9.81
Name: 7, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date        25-11-2022
Description         SMS Alerts Fee
Debit/Withdrawal             53.31
Credit/Deposit                 0.0
Balance                        0.0
Name: 6, dtype: object
ANd
 Transaction Date     14-01-2023
Description         PROFIT PAID
Debit/Withdrawal            0.0
Credit/Deposit            11.54
Balance                    9.81
Name: 7, dtype: object



index 8 | 9.81 != 9.81 + 0.0 -1.73 = 8.08
9.81 != 9.81 - 0.0 +1.73 = 11.54
Transaction Date             14-01-2023
Description         W. H. TAX ON PROFIT
Debit/Withdrawal                   1.73
Credit/Deposit                      0.0
Balance                            9.81
Name: 8, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date     14-01-2023
Description         PROFIT PAID
Debit/Withdrawal            0.0
Credit/Deposit            11.54
Balance                    9.81
Name: 7, dtype: object
ANd
 Transaction Date             14-01-2023
Description         W. H. TAX ON PROFIT
Debit/Withdrawal                   1.73
Credit/Deposit                      0.0
Balance                            9.81
Name: 8, dtype: object



############ Faysal Bank ###########
Error in Faysal Bank | Expecting value: line 1 column 1 (char 0)
############ Standard Chartered Bank (PKR) ###########
index 0 | 0.0 != 6745.01 + 69680.0 -0.0 = 76425.01
0.0 != 6745.01 - 69680.0 +0.0 = -62934.99
Transaction Date                                           29-06-2022
Description         IBFT 29/06/2022 58938800000 CDC-NAFA - (EPM AR...
Debit/Withdrawal                                                  0.0
Credit/Deposit                                                69680.0
Balance                                                           0.0
Name: 0, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                     29-09-2022
Description         IBANKING TRF TO 08726483901
Debit/Withdrawal                       150000.0
Credit/Deposit                              0.0
Balance                                28999.26
Name: 14, dtype: object
ANd
 Transaction Date                                           29-06-2022
Description         IBFT 29/06/2022 58938800000 CDC-NAFA - (EPM AR...
Debit/Withdrawal                                                  0.0
Credit/Deposit                                                69680.0
Balance                                                           0.0
Name: 0, dtype: object



index 1 | 148064.01 != 0.0 + 0.0 -71639.0 = -71639.0
148064.01 != 0.0 - 0.0 +71639.0 = 71639.0
Transaction Date                                           29-06-2022
Description         IBFT 29/06/2022 58938800000 CDC-NAFA - (EPM AR...
Debit/Withdrawal                                              71639.0
Credit/Deposit                                                    0.0
Balance                                                     148064.01
Name: 1, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                                           29-06-2022
Description         IBFT 29/06/2022 58938800000 CDC-NAFA - (EPM AR...
Debit/Withdrawal                                                  0.0
Credit/Deposit                                                69680.0
Balance                                                           0.0
Name: 0, dtype: object
ANd
 Transaction Date                                           29-06-2022
Description         IBFT 29/06/2022 58938800000 CDC-NAFA - (EPM AR...
Debit/Withdrawal                                              71639.0
Credit/Deposit                                                    0.0
Balance                                                     148064.01
Name: 1, dtype: object



index 4 | 0.0 != 8135.72 + 57607.0 -0.0 = 65742.72
0.0 != 8135.72 - 57607.0 +0.0 = -49471.28
Transaction Date                                           27-07-2022
Description         IBFT 27/07/2022 58938800000 CDC-NAFA - (EPM AR...
Debit/Withdrawal                                                  0.0
Credit/Deposit                                                57607.0
Balance                                                           0.0
Name: 4, dtype: object


Inconsistency error: Missing Transactions between previous row:
Transaction Date                     21-07-2022
Description         IBANKING TRF TO 08726483901
Debit/Withdrawal                       140000.0

In [2]:
import tiktoken

def getTokens(tok, model='gpt-3.5-turbo'):
    encoding = tiktoken.encoding_for_model('gpt-3.5-turbo')
    return encoding.encode(tok)

In [3]:
from prompts import prompt_ocr
with open('txts/1. Khushhali Bank 1 _KMBL_PKR.txt','r') as f:
    t = f.read()
context = prompt_ocr.format(text=t)
tokens = getTokens(context)
len(tokens)

5013